# Required if using OpenAI models:
OPENAI_API_KEY = XXXXXXXXX
DEFAULT_MODEL_PROVIDER=openai
DEFAULT_MODEL_ID=gpt-4o-mini


# Whatsapp keys :
WHATSAPP_ACCESS_TOKEN = XXXXXXXXXXX
WHATSAPP_PHONE_NUMBER_ID = XXXXXXXXXXXXXXX
WHATSAPP_VERIFY_TOKEN = XXXXXXXXXXXXXX


#Telegram keys :
TELEGRAM_BOT_TOKEN ) = XXXXXXXXXXXXX
TELEGRAM_CHAT_ID (optional) = XXXXXXXXXXXXXX
